[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
mysqlclient = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
